---
interface Props {
	title: string;
}

const { title} = Astro.props;
---

<div class="props">
	<h1>
		{title}
	</h1>
</div>
<style>
	.props {
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: auto;
	}
	
	h1 {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		color: #fff;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 0.5rem;

	}	
</style>
